crawlers:
  - name: COOPERATIVA
    type: STATIC_WEBSITE
    custom: COOPERATIVA
    base_urls:
      - https://www.cooperativa.cl
    pages_config:
      url_pattern: (\s+)/noticias/site/cache/nroedic/todas/(\d+).html
    
    articles_list_config:
      selector: .art-todas
      url:
        selector: a

  - name: EL_DESCONCIERTO
    type: STATIC_WEBSITE
    base_urls:
      - https://eldesconcierto.cl/noticias
      - https://eldesconcierto.cl/opinion
      - https://eldesconcierto.cl/politica
      - https://eldesconcierto.cl/reportajes

    requests_config:
      retry_delay: 60 # seconds
      requests_per_minute: 180

    pages_config:
      url_pattern: (\s+)?page=(\d+)
      pagination:
        selector: ul.pagination li a
        pos_pagination_item: -2
        split_href: ?page=
        pos_href: -1
    
    articles_list_config:
      selector: article
      datetime:
        selector: span.leading-tight:nth-child(2)
        format: "%d.%m.%Y"
      url:
        selector: a
        prefix: https://eldesconcierto.cl

    article_config:
      title:
        selectors:
          - h1.text-xl.font-bold.text-white
      author:
        selectors:
          - div.px-10.py-6.text-sm.font-normal.text-gray-600 span:nth-child(1)
      date:
        selectors:
          - div.px-10.py-6.text-sm.font-normal.text-gray-600 span:nth-child(2)
        format: "%d.%m.%Y"
      tag:
        selectors:
          - div.flex.items-center.px-4.text-gray-400 span:last-child
      drophead:
        selectors:
          - div.px-10.py-6.text-lg.text-gray-700.bg-gray-100.border-l-4.border-brand-300
      body:
        selectors:
          - div.single-post__content
        remove_elements:
          - iframe
          - script
          - blockquote
          - div
  
  - name: EL_MOSTRADOR
    type: STATIC_WEBSITE
    base_urls:
      - https://www.elmostrador.cl

    requests_config:
      retry_delay: 60 # seconds
      requests_per_minute: 1000

    pages_config:
      url_pattern: (\s+)/categoria/dia/page/(\d+)/
      pagination:
        selector: .the-pagination .the-pagination__item
        pos_pagination_item: -1
        pos_href: 6
    
    articles_list_config:
      selector: .d-tag-card
      datetime:
        selector: .d-tag-card__date
        attribute: datetime
        format: "%d-%m-%Y"
      url:
        selector: .d-tag-card__title .d-tag-card__permalink
    
    article_config:
      title:
        selectors:
          - .d-the-single__title
      author:
        selectors:
          - .the-by__permalink
          - .the-single-author__permalink
      date:
        selectors:
          - .d-the-single__date
        attribute: datetime
        format: "%Y-%m-%d"
      tag:
        selectors:
          - .d-the-single-media__bag
      drophead:
        selectors:
          - .d-the-single__excerpt
      body:
        selectors:
          - .d-the-single-wrapper__text
        remove_elements:
          - iframe
          - script
          - blockquote
          - div.responsive-container
          - div.the-single-cards
    
  - name: RADIO_UCHILE
    type: STATIC_WEBSITE
    base_urls:
      - https://radio.uchile.cl
    
    requests_config:
      retry_delay: 60 # seconds
      requests_per_minute: 1000

    pages_config:
      url_pattern: (\s+)/noticias/page/(\d+)/
      pagination:
        selector: .pagination li a.page-numbers
        pos_pagination_item: -2
        pos_href: -2
    
    articles_list_config:
      selector: div.post
      datetime:
        selector: ul.meta li:nth-child(2)
        format: "%d-%m-%Y"
      url:
        selector: .details .post-title a
    
    article_config:
      title:
        selectors:
          - div.post-header h1.title
      author:
        selectors:
          - .main-content ol.breadcrumb li.breadcrumb-item a
          - div.post-header ul.meta li:nth-child(1)
      date:
        selectors:
          - div.post-header ul.meta li:last-child
        format: "%d-%m-%Y"
      tag:
        selectors:
          - div.post-bottom a.tag:last-child
      drophead:
        selectors:
          - div.post-header span.title
      body:
        selectors:
          - section.main-content div.post-content
        remove_elements:
          - iframe
          - script
          - blockquote
  
  - name: TVN_ACTUALIDAD
    type: STATIC_WEBSITE
    custom: TVN
    base_urls: 
      - https://www.tvn.cl

    requests_config:
      request_block_size: 10
      sleep_between_blocks: 1
      retry_delay: 5

    pages_config:
      url_pattern: (\s+)/noticias/actualidad/p/(\d+)/
      pagination:
        selector: .auxi .wp-pagenavi a
        pos_pagination_item: -1
        pos_href: -1
    
    articles_list_config:
      selector: .auxi .row article
      url:
        selector: a
        prefix: https://www.tvn.cl

  - name: TVN_NOTICIAS
    type: STATIC_WEBSITE
    custom: TVN
    base_urls:
      - https://www.tvn.cl

    requests_config:
      request_block_size: 10
      sleep_between_blocks: 1
      retry_delay: 5

    pages_config:
      url_pattern: (\s+)/noticias/p/(\d+)/
      pagination:
        selector: .auxi .wp-pagenavi a
        pos_pagination_item: -1
        pos_href: -1
    
    articles_list_config:
      selector: .auxi .row article
      url:
        selector: a
        prefix: https://www.tvn.cl



      




